<!-- Navigation -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="https://github.com/Zuus89/mental_health_pbi" target="_blank">Mental Health Dashboard</a></li>
        <li><a href="earthquake-azure-data-pipeline.html">Earthquake Data Pipeline</a></li>
        <li><a href="https://github.com/Zuus89/skinautica-bsale-powerbi" target="_blank">Sporting Goods Data Pipeline</a></li>
        <li><a href="https://github.com/Zuus89/retail-analytics-sql" target="_blank">Retail Analytics SQL</a></li>
        <li><a href="projects.html">Others</a></li>
    </ul>
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/cristobalelton/" class="icon brands fa-linkedin" target="_blank" rel="noopener" aria-label="LinkedIn Profile"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/Zuus89" class="icon brands fa-github" target="_blank" rel="noopener" aria-label="GitHub Profile"><span class="label">GitHub</span></a></li>
        <li><a href="https://wa.me/56934380596" class="icon brands fa-whatsapp" target="_blank" rel="noopener" aria-label="WhatsApp Contact"><span class="label">WhatsApp</span></a></li>
        <li><a href="mailto:celton.aret@gmail.com" class="icon solid fa-envelope" aria-label="Email Contact"><span class="label">Email</span></a></li>
    </ul>
</nav>
